{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<a href="{{ path('home') }}">
  <i class="fas fa-arrow-circle-left fa-2x"></i>
</a>
<br><br>
    <div id="login">
        <div class="container">
            <div class="shadow card text-white mx-auto bg-light mb-3 card mb-3" style="width: 500px;">
                <div class="card-header card bg-secondary text-center text-white"><h2>Connexion</h2></div>
                <div class="card-body text-info">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-12">
                    <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                            <div class="form-group">
                                <label for="inputEmail" class="text-primary">Adresse Mail:</label><br>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Mail" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="text-primary">Mot de passe:</label><br>
                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </div>
                            <div class="text-center form-group">
                                <input class="btn btn-primary" type="submit" value="Se connecter">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Tu es connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
        </div>
    {% endif %}

    {# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    > #}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    {# <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form> #}
{% endblock %}
