{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
    <div class="card mx-auto" style="width:400px">
    <div class="card-body" style="width:350px">
    <b class="text-center">Inscription d'un utilisateur</b>
    <br>
            {{ form_start(registrationForm) }}
            <br>
            {{ form_label(registrationForm.nomUtilisateur, "Nom :") }}
                {{ form_widget(registrationForm.nomUtilisateur) }}
                {{ form_label(registrationForm.nomUtilisateur, "Prénom :") }}
                {{ form_widget(registrationForm.prenomUtilisateur) }}
                {{ form_row(registrationForm.email, {
                    label: 'Mail :'
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe :'
                }) }}
            </br>
                <input class="btn btn-primary text-center" type="submit" value="Inscrire">
    </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
