{% extends 'base.html.twig' %}

{% block title %}Liste demandes assistances à valider{% endblock %}

{% block body %}
<a href="{{ path('home') }}">
  <i class="fas fa-arrow-circle-left fa-2x"></i>
</a><br><br>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" data-sortable="true">Titre</th>
      <th scope="col" data-sortable="true">Date demande</th>
      <th scope="col" data-sortable="true">Demandeur</th>
      <th scope="col" data-sortable="true">Détails</th>
    </tr>
  </thead>
  <tbody>
{% for ticket in listeTicketsAttente %}
<tr>
<td>{{ ticket.titreTicket }}</td>
<td>{{ ticket.dateTicket|date('d-m-Y') }}</td>
<td>{{ ticket.utilisateur.nomUtilisateur }} {{ ticket.utilisateur.prenomUtilisateur }}</td>
<td>
  <a href="{{ path('vueDemande',{ 'id': ticket.id }) }}">
    <button type="button" class="btn btn-primary">Voir détails</button>
  </a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
