{% extends 'base.html.twig' %}

{% block title %}Demande d'intervention{% endblock %}

{% block body %}
{{ form_start(form) }}  
<div class="row">
    <div class="col-sm-6">
        <b>
            {% for row in form.salle %}
                {{ form_row(row.numeroSalle, {
                    'label': 'Salle :'
                }) }}
            {% endfor %}
            
            {% for r in formSalle.zone %}
                {{ form_row(r.nomZone, {
                    'label': 'Zone :'
                }) }}
            {% endfor %}

            {% for ro in form.materiels %}
                {{ form_row(ro.nomMateriel, {
                    'label': 'Quel(s) matériel(s) est défecteux ? :'
                }) }}
            {% endfor %}
        </b>
    </div>
    <div class="col-sm-6">
        <b>
            {% for rows in formZone.niveaux %}
                {{ form_row(rows.nomNiveau, {
                    'label': 'Niveau :'
                }) }}
            {% endfor %}

        {{ form_row(form.titreTicket, {
                'label': 'Titre de la demande :'
            }) }}

        {{ form_row(form.categorieTicket, {
                'label': 'Catégorie :'
            }) }}
        </b>
    </div>
</div>
<div class="text-center">
    <b>
        {{ form_row(form.descriptionTicket, {
                'label': 'Description du problème rencontré :'
            }) }}
    </b>
        {{ form_row(form.save, {
            'label': 'Confirmer'
        })}}
</div>

{{ form_end(form) }} 
{% endblock %}
