{% extends 'base.html.twig' %}

{% block title %}Liste demandes assistances{% endblock %}

{% block body %}
<a href="{{ path('home') }}">
  <i class="fas fa-arrow-circle-left fa-2x"></i>
</a>
<br><br>
{# {% for t in ticket %}
   | {{ t.titreTicket }} - 
   | {{ t.dateTicket|date('Y-m-d') }} -
{% endfor %}

{% for user in utilisateur %}
    {{ user.nomUtilisateur }}    
    {{ user.prenomUtilisateur }}    
{% endfor %}

{% for stat in statut %}
    {{ stat.nomStatut }} - 
    {{ stat.criticiteStatut }} - 
{% endfor %}

{% for s in salle %}
    {{ s.numeroSalle }} - 
{% endfor %} #}


<table class="table table-striped table-bordered table-sm" data-search="true" data-pagination="true" data-page-size="10">
  <thead class="thead-light">
    <tr>
      <th  data-sortable="true">Titre</th>
      <th  data-sortable="true">Date demande</th>
      <th  data-sortable="true">Demandeur</th>
      <th  data-sortable="true">Statut</th>
      <th  data-sortable="true">Criticité</th>
      <th  data-sortable="true">Salle</th>
      <th  data-sortable="true">Détails</th>
    </tr>
  </thead>
  <tbody>
     {% for t in ticket %}
    <tr>
        <th scope="row">{{ t.titreTicket }}</th>
        <td>{{ t.dateTicket|date('Y-m-d') }}</td>
            {% for user in utilisateur %}
                <td>{{ user.prenomUtilisateur }} {{ user.nomUtilisateur }}</td>
                    {% for stat in statut %}
                        <td>{{ stat.nomStatut }}</td>
                        <td>{{ stat.criticiteStatut }}</td>
                            {% for s in salle %}
                                <td>{{ s.numeroSalle }}</td>
                                <td><button type="button" class="btn btn-primary">Voir détails</button></td>
                                </tr>
                            {% endfor %}
                    {% endfor %}
            {% endfor %}
    {% endfor %}  
  </tbody>
</table>

{% endblock %}
