{% extends 'base.html.twig' %}

{% block title %}Liste demandes assistances{% endblock %}

{% block body %}
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Date demande</th>
      <th scope="col">Demandeur</th>
      <th scope="col">Statut</th>
      <th scope="col">Criticité</th>
      {# <th scope="col">Salle</th> #}
      <th scope="col">Détails</th>
    </tr>
  </thead>
  <tbody>
{% for ticket in listeTicket %}
<tr>
<td>{{ ticket.titreTicket }}</td>
<td>{{ ticket.dateTicket|date('d-m-Y') }}</td>
<td>{{ ticket.utilisateur.nomUtilisateur }} {{ticket.utilisateur.prenomUtilisateur }}</td>
<td>{{ ticket.statut.nomStatut }}</td>
<td>{{ ticket.statut.criticiteStatut }}</td>
{# <td>{{ ticket.salles.numeroSalle }}</td> #}
<td><button type="button" class="btn btn-primary">Voir détails</button></td>
</tr>
{% endfor %}
</tbody>
</table>
{# {% for t in ticket %}
   | {{ t.titreTicket }} - 
   | {{ t.dateTicket|date('Y-m-d') }} -
{% endfor %}

{% for user in utilisateur %}
    {{ user.nomUtilisateur }}    
    {{ user.prenomUtilisateur }}    
{% endfor %}

{% for stat in statut %}
    {{ stat.nomStatut }} - 
    {{ stat.criticiteStatut }} - 
{% endfor %}

{% for s in salle %}
    {{ s.numeroSalle }} - 
{% endfor %} #}

{# 
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Date demande</th>
      <th scope="col">Demandeur</th>
      <th scope="col">Statut</th>
      <th scope="col">Criticité</th>
      <th scope="col">Salle</th>
      <th scope="col">Détails</th>
    </tr>
  </thead>
  <tbody>
    {% for t in ticket %}
    <tr>
        <th scope="row">{{ t.titreTicket }}</th>
        <td>{{ t.dateTicket|date('Y-m-d') }}</td>
            {% for user in utilisateur %}
                <td>{{ user.prenomUtilisateur }} {{ user.nomUtilisateur }}</td>
                    {% for stat in statut %}
                        <td>{{ stat.nomStatut }}</td>
                        <td>{{ stat.criticiteStatut }}</td>
                            {% for s in salle %}
                                <td>{{ s.numeroSalle }}</td>
                                <td><button type="button" class="btn btn-primary">Voir détails</button></td>
                                </tr>
                            {% endfor %}
                    {% endfor %}
            {% endfor %}
    {% endfor %}
  </tbody>
</table> #}



{% endblock %}
