{% extends 'base.html.twig' %}

{% block title %}Observation de la demande{% endblock %}

{% block body %}
{% if ticket.statut.id == 1 %}
   <a href="{{ path('validationdemande') }}">
        <i class="fas fa-arrow-circle-left fa-2x"></i>
    </a>
{% endif %}
{% if ticket.statut.id == 2 or ticket.statut.id == 3 %}
    <a href="{{ path('resultat') }}">
        <i class="fas fa-arrow-circle-left fa-2x"></i>
    </a>
{% endif %}
<h5 class="text-center">Détails de la demande :</h5>

<div class="card mx-auto shadow" style="width: 1000px;">
    <div class="card-header">
        <h2 class="text-center" style="color:#FF7F00"><b>{{ ticket.titreTicket }}</b></h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <p><b>Demandeur : </b>{{ ticket.utilisateur.prenomUtilisateur }} {{ ticket.utilisateur.nomUtilisateur }}</p>
                <p><b>Catégorie de l'intervention : </b>{{ ticket.categorieTicket }}</p>
                {% if ticket.statut.id != 1 %}
                <p><b>Criticité : </b>{{ ticket.criticite.nomCriticite }}</p> {# Modifier par l'entity Criticité #}
                {% endif %}
            </div>
            <div class="col-sm-6">
                <p><b>Date de la demande : </b>{{ ticket.dateTicket|date('d-m-Y') }}</p>
                <p><b>Matériel(s) défectueux : </b>{{ materiel.nomMateriel }}</p>
                <p id="stat"><b>Statut: </b>{{ ticket.statut.nomStatut }}</p>
            </div>
        </div>
        <br>
            <p class="text-center"><b>Description du problème : </b><br>{{ ticket.descriptionTicket }}</p>
        <br>
        <hr class="shadow">
        <div class="row text-center">
            <div class="col-sm-4">
                <p><b>Niveau : </b>{{ niveau.nomNiveau }}</p>
            </div>
            <div class="col-sm-4">
                <p><b>Zone : </b>{{ zone.nomZone }}</p>
            </div>
            <div class="col-sm-4">
                <p><b>Salle : </b>{{ salle.numeroSalle }}</p>
            </div>
        </div>
        <hr class="shadow">
    </div>
{% if is_granted('ROLE_ADMIN') %}
    {% if ticket.statut.id == 1 %}    
        <div class="card-footer text-center">
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Criticité
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">Faible</button>
                    <button class="dropdown-item" type="button">Modéré</button>
                    <button class="dropdown-item" type="button">Critique</button>
                </div>
            </div>
        </div> 
    {% endif %}
    </div>

    <div class="card mx-auto shadow" style="width: 1000px;" id="finish">
    {% if ticket.statut.id == 3 %} 
        {% if ticket.intervention.descriptionIntervention != null %}
            <div class="card-body">
                <p><b>Description de l'intervention :</b><br>{{ ticket.intervention.descriptionIntervention }}</p>
            </div>
        {% endif %}
    {% endif %}
    </div>

    <div class="card mx-auto shadow" style="width: 1000px;" id="refuser">
    {% if ticket.statut.id == 4 %} 
        {% if ticket.intervention.descriptionRefus != null %}
            <div class="card-body">
                <p><b>Description du Refus :</b><br>{{ ticket.intervention.descriptionRefus }}</p>
            </div>
        {% endif %}
    {% endif %}
    </div>

    <br>
    <div class="text-center">
    {% if ticket.statut.id == 2 %}
        <a href="{{ path('intervention',{ 'id': ticket.id }) }}">
            <button type="button" class="btn btn-warning shadow" id="btn2">Résolue</button>
        </a>
    {% endif %}
    {% if ticket.statut.id == 1 %}
        {# {{ form_start(form) }} #}
            {# {{ form_widget(ticket.criticite) }} #}
        <a href="{{ path('intervention',{ 'id': ticket.id }) }}">
            <button type="button" class="btn btn-danger shadow" id="refus">Refuser</button>
        </a>
        <a href="{{ path('validationdemande') }}">
            <button type="button" class="btn btn-success shadow" id="valid">Valider</button>
            <script> 
                $("valid").click(function(){
                    $updateInterventionTicket 
                })
            </script>
        </a>
        {# {{ form_end(form, {'render_rest': false}) }} #}
    {% endif %}
{% endif %}
</div>
<br>
<data value="{{ ticket.statut.nomStatut }}" id="resolu"></data>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  var $statut = document.getElementById("resolu").value;
$("#finish").hide();

$(document).ready(function () {
  if($statut == "Résolue"){
      $("#finish").show();
      $("#btn2").hide();
  }
// Faire la recuperation du statut de la demande
// Faire une condition pour cacher le bouton si le statut = Résolue

  });
</script>
<script>
function myFunction1() {
    var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
    }
</script>

{% endblock %}
