{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg">
            <button type="button" class="btn btn-primary shadow">Voir demandes</button>
        </div>
        <div class="col-lg">
            <div class="dropdown text-center">
                {{ form_row(form.nomNiveau,{
                    'label': false
                } )}}
            </div>
        </div>
        <div class="col-lg">
        <a href="{{ path('ticket') }}">
            <button type="button" class="btn btn-info float-right shadow">Faire demandes</button>
        </a>
        </div>
    </div>
    
    <img src="{{asset('doc/img/rez-de-chaussee.png')}}"/> 
    {{ form_end(form) }} 
{% endblock %}
